/**********
 * Colors *
 **********/

$blue-green: #0ac3a7;
$light-blue-green: #e6f9f6;
$dark-blue-green: #078975;

$red: #d83a37;
$light-red: #fbebeb;
$dark-red: #c13530;

$yellow: #ffb400;
$light-yellow: #fff8ee;
$dark-yellow: #e3a000;

$blue: #40cafd;
$light-blue: #cdf2ff;
$dark-blue: #3bb3de;

$green: #5e9d07;
$light-green: #ebf3e1;
$dark-green: #538a06;
